/***********************************/
/*style de du formulaire de droite */ 
/**********************************/
body{
    overflow-x: hidden;
}
.inscription {
    
    min-height:100%;
    width:100%;
    background-color:#FFA53F;
    padding-bottom:100px;
    
}

h2{
  padding-top:100px;
}

input {
    width: 100% !important;
    
  background-color:rgb(130,108,84,.8) !important;;
    color:white !important;
    border:none !important;
    border-radius: 15px !important;     
}
::placeholder {
  color: azure !important;
  font-size: 1em;
}
#valideinscription{
    margin:0 auto;
    width:50% !important;
    background-color:#FFA53F !important;
    cursor: pointer;
    border:1px solid white !important;
}
.formulaire {
    padding:5%;
     margin: 9 150;
    margin-top:40px;
    background-color:rgba(171,127,77,0.9);
    box-sizing: border-box;
    border-radius:10px;
}
