html {
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: 'Noticia Text', serif;
}

.carrefond {
    
    position: absolute;
    left:150px;
    top:25px;
    height:600px;
    width: 1100px;
    background-color:#5B5B5B;
    opacity:50%;
    border-radius: 47px;
}

.carrefond2 {
    
    position: absolute;
    left:60px;
    top:100px;
    height:180px;
    width: 1000px;
    background-color:#434242;
    opacity:50%;
    border-radius: 47px;
}

.produit {
     position: absolute;
     color:#FB8B0E;
     font-family: 'Noticia Text', serif;
     font-size: 30px;
     left:300px;
}
.provenance {
    position: absolute;
    color:#FB8B0E;
    font-family: 'Noticia Text', serif;
    font-size: 30px;
    left:550px;
}
.quantite {
    position: absolute;
    color:#FB8B0E;
    font-family: 'Noticia Text', serif;
    font-size: 30px;
    left:800px;
}
.prix {
    position: absolute;
    color:#FB8B0E;
    font-family: 'Noticia Text', serif;
    font-size: 30px;
    left:950px;
}

.fromage {
    position: absolute;
    height: 100%;
    width: 25%;
    top:-8px;
    left:-43px;
}

.nomproduit {
    
    position: absolute;
    color:#FB8B0E;
    font-family: 'Noticia Text', serif;
    font-size: 20px;
     left: 240px;
     top: 50px;
}
.enstock {
     position: absolute;
     color:#FB8B0E;
     font-family: 'Noticia Text', serif;
     font-size: 20px;
     left: 240px;
     top: 70px; 
}
.paysprovenance {
     position: absolute;
     color:#FB8B0E;
     font-family: 'Noticia Text', serif;
     font-size: 20px;
    left: 500px;
    top: 50px;
}
.quantiteaffiche{
     position: absolute;
     color:#FB8B0E;
     font-family: 'Noticia Text', serif;
     font-size: 20px;
     left: 750px;
     top: 50px;
}

.prixaffiche {
     position: absolute;
     color:#FB8B0E;
     font-family: 'Noticia Text', serif;
    font-size: 20px;
    left: 900px;
    top: 50px;
}

.bouton {
    position: absolute;
    height: 10%;
    width: 7%;
    top:500px;
    left:970px;
}
